<div class="app-heading">
    Holiday Expenses Calculator
</div>
<div class="wrapper">
   <div class="expense-table-action-header">
        <h3>Expenses</h3>
        <div>
            <button [disabled]="expenses.length === 0" class="settle-up-btn" (click)="settleUpHandler()">Settle Up</button>
        </div>
   </div>
    <bunk-app-expense-table variants="expense" [expenses]="expenses" (deleteExpenseHandler)="deleteExpenseHandler($event)"></bunk-app-expense-table>
    <div *ngIf="isSettleUp" class="payouts-container">
        <h3>Payouts</h3>
        <div class="payout-summary">
            <h5>
                Total: {{total | currency}}
            </h5>
            <h5 class="equal-share">
                Equal Share: {{equalShare | currency}}
            </h5>
        </div>
        <bunk-app-expense-table variants="payout" [payouts]="payouts"></bunk-app-expense-table>
        </div>
</div>
<div>
    <bunk-app-expense-create (createExpenseHandler)="createExpenseHandler($event)"></bunk-app-expense-create>
</div>