/* You can add global styles to this file, and also import other style files */
// Primary Colors

$bunk-primary-blue-10: #587ef4;
$bunk-primary-blue-20: #b7c8fa;
$bunk-primary-blue-40: #e7edfd;

$bunk-secondary-grey-10: #414a67;
$bunk-secondary-grey-20: #d0d0d0;
$bunk-secondary-grey-40: #999999;
$bunk-secondary-grey-60: #cccccc;

$bunk-white: #fff;
$bunk-black: #000;