// spaces
$space-mini: 4px;
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 44px;
$space-xxl: 56px;
$space-huge: 84px;

// font sizes

$font-size-display: 72px;
$font-size-display-reduced: 56px;
$font-size-heading: 40px;
$font-size-title-l: 32px;
$font-size-title-m: 24px;
$font-size-title-s: 20px;
$font-size-body-m: 18px;
$font-size-body-s: 16px;
$font-size-label: 14px;
$font-size-label-s: 12px;
